<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>calculate</title>
</head>
<body ng-app='myapp' ng-controller='demoController'>
    <input type="text" name="" ng-model='a'>+
    <!-- <input type="text" name="" ng-model='b'> -->
    <input type="range" name="" min='10' max='100' ng-model='b'>
    <input type="button" name="" value="=" ng-click='add()'>
    <input type="text" name="" ng-model='result'>

    <script src="node_modules/angular/angular.js"></script>
    <script>
        var app=angular.module('myapp',[]);
        app.controller('demoController',function($scope){
            $scope.a=0;
            $scope.b=0;
            $scope.result=0;
            $scope.add=function(){
                $scope.result=($scope.a-0)+($scope.b-0);
            }

        })
        //MVVM实现了结构与代码分离
    </script>
</body>
</html>